/* ===== TOP BAR ===== */
.topbar {
  height: 32px;
  display: flex;
  align-items: center;
  font-size: 13px;

  background: linear-gradient(
    90deg,
    #0b1c56 0%,
    #1a2b6f 40%,
    #3a1c6e 70%,
    #0b1c56 100%
  );

  box-shadow: inset 0 -1px 0 rgba(138, 99, 255, 0.35);
}

.topbar-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.topbar-right a {
  color: #fff;
  text-decoration: none;
  margin: 0 6px;
}

.topbar-right span {
  color: #fff;
}

/* ===== NAV BAR ===== */
.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
}

.navbar-container {
  width: 1200px;
  margin: 0 auto;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo img {
  height: 100px; /* QUAN TRỌNG: logo phải đủ to */
  margin-left: -150px;
}

/* MENU */
.menu {
  display: flex;
  list-style: none;
  gap: 24px;
}

.menu li {
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  color: #222;
}

.menu li:hover {
  color: #1f4fa3;
}
